body{
    background: #fff;
}
body > .hi{
    width: auto;
    text-align: center;
}
body > .hi > img{
    width: 333px;
    height: auto;
}
body > .hi > h2{
    color: #010101;
    margin: 15px 0px;
}